@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CONGURAÇÔES GERAIS */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;;
    font-size: 40px;
    color: var(--color);
    -webkit-tap-highlight-color: transparent;
}
:root{
    --bg-color: #FFFFFF;
    --color: #095027;
    --highligth-color: #F4EDE4;
    --header-color: #04c04c;
    --subtitle-bg-color: #2e573e;
    --subtitle-color: #f4e4c1;
}
html, body{
    min-height: 100vh;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--bg-color);
  background-size: cover;
}
body{
    overflow-x: hidden;
    background-color: var(--bg-color);
}


/* HEADER */


#site-logo{
    width: 50px;
}
#header-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#header-text > h1{
    color: var(--highligth-color);;
}


header{
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
    max-width: 1024px;
    border-radius: 5px;
    z-index: 10;
}
header > nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
header > nav > a{
    background-color: var(--highligth-color);
    font-size: 0.8rem;
    width: 200px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;
    
}

/* MAIN */

main{
    margin-top: 250px;
}
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#model-image-phone{
    width: 100vw;
    border-top: 2px solid var(--subtitle-bg-color);
    display: block;
    
}
#model-image-desktop{
    display: none;
}

/* PRODUTOS */
#product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 250px;
}
#product-content > h2{
    margin-bottom: 300px;
}

.slider{
    position: relative;
    width: 70vw; 
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid var(--color);
    border-radius: 20px;
}
.slider img {
    width: 40vw;
    height: 100%;
    object-fit: cover;
}
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.6rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    padding: 0.3em 0.6em;
    border-radius: 5px;
}
.slider button:hover {
    background: rgba(0, 0, 0, 0.5);
}
.slider button:first-of-type {
    left: 10px;
}

.slider button:last-of-type {
    right: 10px;
}  

/* SOBRE NÓS  */
#about-content{
    text-align: center;
    margin-bottom: 250px
}

/* FOOTER */
footer{
    text-align: center;
}
#contact-content{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#contact-content > a{
    text-align: center;
    margin:auto;
    width: 195px;
}
#contact-content > iframe{
    margin: auto;
    display: none;
}
.bi{
    color: var(--subtitle-bg-color);
}
iframe{
    width: 100vw;
}
.subtitle{
    background-image: linear-gradient(135deg, var(--subtitle-bg-color), #02f760 );
    color: var(--subtitle-color);
    font-size: 1.5rem;
    width: 100vw;
    padding: 50px 0px;
}
#view-button{
    width: 100vw;
    margin: auto;
    background-color: var(--subtitle-bg-color);
    color: var(--subtitle-color);
}
#view-button:hover{
    background-color: var(--subtitle-color);
    color: var(--subtitle-bg-color);
    cursor: pointer;
}

@media screen and (min-width: 1024px){
    header > .bi{
        display: none;
    }
    header > nav{
        display: flex;
        flex-direction: row;
        
    }
    header > nav > a{
        margin-left: 5px;
    }
    header > nav > a:hover{
        background-color: var(--color);
        color: var(--highligth-color);
    }
    iframe{
        width: 50vw;
    }
    #view-button{
        width: 500px;
    }
    #model-image-phone{
        display: none;
    }
    #model-image-desktop{
        display: block;
        width: 100vw;
    }
    .slider{
    width: 400px;
    height: 400px;
    }
    .slider > img{
        width: 14vw;
    }
}


